<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Listado de Usuarios">
      <div class="table-responsive">
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Documento</th>
              <th>Nombres</th>
              <th>Apellido</th>
              <th>Usuario</th>
              <th>Cargo</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let i = index">
              <td>{{ i + 1 }}</td>
              <!-- <td>
                <img
                  src="assets/images/user/avatar-4.jpg"
                  alt="user image"
                  class="img-radius wid-40 align-top m-r-15"
                />
              </td> -->
              <td>{{ user.documentUser.S }}</td>
              <td>{{ user.nameUser.S }}</td>
              <td>{{ user.lastnameUser.S }}</td>
              <td>{{ user.emailUser.S }}</td>
              <td>{{ user.positionUser.S }}</td>
              <td>
                {{ user.stateUser.S }}
                <!-- <button
                  class="btn btn-sm"
                  [ngClass]="{
                    'btn-success': user.stateUser == 'Activo',
                    'btn-danger': user.stateUser != 'Activo'
                  }"
                  (click) = "changeState(user)"
                >
                  {{ user.stateUser.S }}
                </button> -->
              </td>
              <td>
                <a
                  [routerLink]="['../user/edit', user.documentUser.S]"
                  class="btn btn-icon btn-outline-primary"
                >
                  <i class="far fa-edit"></i>
                </a>
                <button
                  class="btn btn-icon btn-outline-danger"
                  (click)="deleteUser(user)"
                >
                  <i class="far fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
