<form [formGroup]="formLogin" style="width: 100%;text-align: left;">
    <div class="form-group">
      <label for="username">Usuario:</label>
      <input
        type="email"
        class="form-control"
        id="username"
        formControlName="username"
        [ngClass]="{
          'is-invalid': f.username.invalid && f.username.touched,
          'is-valid': f.username.valid
        }"
      />
      <div
        *ngIf="f.username?.errors?.required"
        class="invalid-feedback"
      >
        El campo correo es requerido
      </div>
      <div *ngIf="f.username?.errors?.email" class="invalid-feedback">
        El campo no tiene el formato de correo
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        [ngClass]="{
          'is-invalid': f.password.invalid && f.password.touched,
          'is-valid': f.password.valid
        }"
        
      />
      <div
        *ngIf="f.password?.errors?.required"
        class="invalid-feedback"
      >
        El campo correo es requerido
      </div>
      <div *ngIf="f.password?.errors?.pattern" class="invalid-feedback">
        El campo debe considerar los siguientes caracteres <br />
        <ul>
          <li>Debe tener al entre 8 y 16 caracteres</li>
          <li>Al menos un dígito</li>
          <li>Al menos una minúscula</li>
          <li>Al menos una mayúscula</li>
          <li>Al menos un carácter no alfanumérico.</li>
        </ul>
      </div>
    </div>
    <div>
      <button mat-button matStepperNext class="btn btn-block btn-primary">
        Iniciar
      </button>
    </div>
  </form>
  