<!-- <div class="auth-wrapper">
  <div class="auth-content text-center">
    <img src="assets/images/globalgeek.png" alt="" class="img-fluid mb-4" />
    <div class="card borderless">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->
 <form [formGroup]="changePasswordForm" style="text-align: left">
  <div class="form-group">
    <label for="newPassword">Nuevo Password:</label>
    <input
      type="password"
      class="form-control"
      id="newPassword"
      formControlName="newPassword"
      [ngClass]="{
        'is-invalid':
          c.newPassword.invalid && c.newPassword.touched,
        'is-valid': c.newPassword.valid
      }"
      [(ngModel)]="loginModel.newPassword"
    />
    <div
      *ngIf="c.newPassword?.errors?.required"
      class="invalid-feedback"
    >
      El campo nuevo password es requerido
    </div>
    <div
      *ngIf="c.newPassword?.errors?.pattern"
      class="invalid-feedback"
    >
      El campo debe considerar los siguientes caracteres <br />
      <ul>
        <li>Debe tener al entre 8 y 16 caracteres</li>
        <li>Al menos un dígito</li>
        <li>Al menos una minúscula</li>
        <li>Al menos una mayúscula</li>
        <li>Al menos un carácter no alfanumérico.</li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirmar Password:</label>
    <input
      type="password"
      class="form-control"
      id="confirmPassword"
      formControlName="confirmPassword"
      [ngClass]="{
        'is-invalid':
          c.confirmPassword.invalid && c.confirmPassword.touched,
        'is-valid': c.confirmPassword.valid
      }"
      [(ngModel)]="loginModel.confirmPassword"
    />
    <div
      *ngIf="c.confirmPassword?.errors?.required"
      class="invalid-feedback"
    >
      El campo confirmar password es requerido
    </div>
    <div
      *ngIf="c.confirmPassword?.errors?.mustMatch"
      class="invalid-feedback"
    >
      El password debe coincidir
    </div>
  </div>
  <button
    class="btn btn-primary btn-block"
    (click)="changePassword()"
    [disabled]="changePasswordForm.invalid"
  >
    Cambiar
  </button>
</form>